{% extends 'base.html' %}

{% block content %}

<form action="/create" method="POST">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" placeholder="Enter name" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input type="number" class="form-control" placeholder="Enter age" id="age" name="age">
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
  
</form>

{% endblock %}